<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/components.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
</head>
<div class="header">
    <div class="logoHeader">
        <a href="../pages/mainPage.html">
            <img class="logo" src="../assets/Logo2.png" alt="">
        </a>
    </div>
    <div class="middleSeach">
        <input class="searchInput" type="text" placeholder=" ">
        <label for="search"><i id="lupa" class="ph ph-magnifying-glass"></i></label>
    </div>
    <div class="containerProfile">
        <div class="linhaVertical"></div>
        <div class="usuarioHeader">
            <i class="ph-fill ph-user"></i>
        </div>
        <div class="pointSettings">
            <button class="buttonOptions">
                <i class="ph ph-list-bullets"></i>
            </button>
            <div class="optionsHeader">
                <ul>
                    <li>
                        <a href="../pages/turma.html">Criar Turma</a>
                    </li>
                    <li>
                        <a href="#">Teste Um</a>
                    </li>
                    <li>
                        <a href="#">Teste Dois</a>
                    </li>
                    <li>
                        <a href="../index.html">
                            <i class="ph ph-sign-out"></i>
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/components.js" defer></script>
</html>