/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;
    --shadow: rgba(0, 0, 0, 0.2);
    --color5Shadow: rgba(97, 92, 92, 0.5);

    --color1: #ebe8e8;   /* Fundo principal (claro) */
    --color2: #e8e8e8;   /* Fundo secundário */
    --color3: #e30075;   /* Cor escura para textos */
    --color4: #ff4a4a;   /* Vermelho (erros ou alertas) */
    --color5: #ffb319;   /* Amarelo (hover de botões) */
    --color5Hover: #e39e13; /* Amarelo escuro (hover de botões) */
    --color6: #615c5c;   /* cinza (hover alternativo de botões) */

    --lightgrey: #d3d3d3; /* Bordas e separadores suaves */
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color1);
}

.content {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.searchContent {
    width: 4vw;
    height: 100%;
    background: var(--grey);
    position: fixed;
    top: 65px;
    left: 0;
    border-right: 2px solid var(--color5);
}

.contentMain {
    width: 100%;
    height: 100vh;
    padding: 30px 100px;
}

.searchContent ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    list-style: none;
    padding: 20px 0;
}

.searchContent ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
}

.searchContent ul li:hover {
    background: var(--color6);
}

.searchContent ul li a {
    text-decoration: none;
    color: var(--color5);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.searchContent ul li a:focus {
    color: var(--color3);
    background: var(--lightgrey);
}

.searchContent ul li a p {
    display: none;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: max-content;
    padding: 12px 8px;
    position: absolute;
    left: 65px;
    font-size: 0.9rem;
    color: var(--white);
    background: var(--color3);

    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s ease forwards;
}

.searchContent ul li a p::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--color3);
}

.searchContent ul li a:hover p {
    display: flex;
}

.searchContent ul li a:focus p {
    display: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ================================================
    DASHBOARD CARDS
   ================================================ */
/*
.pageTitle {
    height: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 30px   ;
}

.pageTitle h1 {
    font-size: 2rem;
    color: var(--color6);
}


.dashboardCard {
    height: 250px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow);
    cursor: pointer ;
}

.dashboardCard:hover {
    box-shadow: 0 4px 8px var(--shadow);
    transition: all 0.3s ease;
}

.imageCard {
    height: 60%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(../assets/exemploTeste.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
//
.imageCard::after {
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--color3);
    opacity: 0.6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
//

.contentCard {
    height: 40%;
    width: 100%;
    background: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 25px;
}

.titleCard {
    display: flex;
    align-items: center;
}

.idCard {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color6);
}

.spaceCard {
    background: var(--color6);
    height: 2px;
    width: 6px;
    margin: 0px 4px;
    border-radius: 26px;
}

.nameCard {
    font-size: 1rem;
    color: var(--color6);
    font-weight: 600;
    text-transform: uppercase;
}

.descriptionCard {
    font-size: 0.9rem;
    color: var(--color6);
    margin-top: -15px;
    font-weight: 500;
}

.itensCard ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.itensCard ul li {
    color: var(--color6);
    font-size: 1.4rem;
    cursor: pointer;
}

.itensCard ul li:hover {
    color: var(--color5);
}

*/

.desingTurmas {
    height: 300px;
    width: 300px;
    justify-items: center;
}

.desingTurmas img{
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.desingTurmas p {
    margin-top: 20px;
}

.contentTurma button {
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 50px;
    color: var(--color5);
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 35px;
    background: none;
}

.contentTurma button:hover {
    background: var(--color5Shadow);
    cursor: pointer;
}