/* ================================================
    RESET GERAL E VARIÁVEIS DE CORES
   ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores principal usada no projeto */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #808080;
    --greyBorder: #c3c3c3;
    
    --shadow: rgba(0, 0, 0, 0.1);
    --color3Shadow: rgb(227, 0, 117, 0.2);
    --color4Shadow: rgb(255, 74, 74, 0.2);
    --color5shadow: rgba(255, 178, 25, 0.2);
    --color6Shadow: rgba(97, 92, 92, 0.5);
    --color7Shadow: rgb(183, 6, 228, 0.2);

    --color1: #ebe8e8;   /* Fundo principal (claro) */
    --color2: #e8e8e8;   /* Fundo secundário */
    --color3: #e30075;   /* Cor escura para textos */
    --color4: #ff4a4a;   /* Vermelho (erros ou alertas) */
    --color5: #ffb319;   /* Amarelo (hover de botões) */
    --color5Hover: #e39e13; /* Amarelo escuro (hover de botões) */
    --color6: #615c5c;   /* cinza (hover alternativo de botões) */
    --color7: #b706e4;

    --lightgrey: #d3d3d3; /* Bordas e separadores suaves */

}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color1);
}

.sideBar {
    top: 0;
    left: 0;
    width: 17vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid var(--color5);
    border-right: 1px solid var(--color5);
    background: var(--white);
}

.logo {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
    width: 40px;
    background: var(--color5);
    border-radius: 8px;
    box-shadow: 2px 2px 5px var(--shadow);
}

.titleLogo h1 {
    font-size: 1.2rem;
}

.titleLogo p {
    font-size: 0.765rem;
    width: 100%;
    color: var(--color6);
}

.content {
    width: 100%;
    flex: 1;
    background: var(--white);
    border-right: 1px solid var(--color5);
}

.content ul {
    padding: 30px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    list-style: none;
}

.content ul h2 {
    width: 100%;
    height: min-content;
    font-size: 0.8rem;
    color: var(--color6);
    font-weight: 500;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
}

.content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
}

.content ul li a:hover {
    background: var(--color5shadow);
    color: var(--color5);
}

.content ul li a:hover p {
    color: var(--color5);
}

.content ul li a {
    text-decoration: none;
    color: var(--color6);
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    width: 200px;
    gap: 10px;
    border-radius: 10px;
}

.content ul li a.ativo {
    color: var(--white);
    background: linear-gradient(145deg, var(--color5), var(--color4));
    box-shadow: 0 5px 10px var(--shadow);
}

.content ul li a.ativo:hover {
    background: linear-gradient(145deg, var(--color5Hover), var(--color4));
}

.content ul li a.ativo p {
    color: var(--white);
    font-weight: 600;
}

.content ul li a p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: max-content;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color6);
}

.footer {
    height: 80px;
    width: 100%;
    border-top: 1px solid var(--color5);
    border-right: 1px solid var(--color5);
    background: var(--white);
}

.loginUser {
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.loginUser i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--white);
    background: linear-gradient(145deg, var(--color5), var(--color4));
    font-weight: 600;
}

.loginUserNamebnt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.loginUser button {
    height: 20px;
    width: 45px;
    border-radius: 5px;
    background: var(--color4);
    border: none;
    font-size: 0.7rem;
    font-weight: 600;
    box-shadow: 0 2px 5px var(--color6Shadow);
    cursor: pointer;
    color: var(--black);
    transition: all 0.2s ease;
}

.loginUser button:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 8px var(--color6Shadow);
}

.loginUser h1 {
    font-size: 1.2rem;
}

.loginUser h1::first-letter {
    text-transform: uppercase;
}

.loginUser p {
    font-size: 0.765rem;
    width: 100%;
    color: var(--color6);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pagesContent {
    height: 100%;
    width: 100%;
    margin-left: 17vw;
    padding: 30px;
}

/*////////////////////////////////////////////////
                DASHBOARD STYLE
////////////////////////////////////////////////*/
.titleDashboard h1 {
    font-size: 2.4rem;
}

.titleDashboard p {
    font-size: 0.965rem;
    color: var(--color6);
}

.optionDashboard {
    padding: 25px 0;
    width: 100%;
    height: 160px;
    display: flex;
    gap: 25px;
}

.itensOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 12px;
    background: var(--white);
    box-shadow: 0 10px 15px -3px var(--shadow);
    transition: all 0.1s ease;
}

.itensOption:hover {
    transform: scale(1.04);
}

.titleOptionDashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleOptionDashboard h2 {
    font-size: 0.9rem;
    color: var(--color6);
}

.titleOptionDashboard p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

.logoOptions {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 12px;
    background: var(--color5shadow);
}

.logoOptions i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: var(--color5shadow);
    color: var(--color5);
    border-radius: 8px;
}

#diciplinas .logoOptions,
#diciplinas .logoOptions i {
    background: var(--color4Shadow);
    color: var(--color4);
}

#turmas .logoOptions,
#turmas .logoOptions i {
    background: var(--color3Shadow);
    color: var(--color3);
}

#alunos .logoOptions,
#alunos .logoOptions i {
    background: var(--color7Shadow);
    color: var(--color7);
}

.viewTurmaInstituicao {
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--greyBorder);
    border-radius: 12px;
    gap: 30px;
}

.iconViewTurmaInstituicao {
    background: var(--color5shadow);
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;border-radius: 50%;
}
.viewTurmaInstituicao i {
    background: var(--color5shadow);
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;border-radius: 50%;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color5);
}

.viewTurmaInstituicao h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
}

.viewTurmaInstituicao p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color6);
}

.viewTurmaInstituicao a {
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    border-radius: 12px;
    background: linear-gradient(145deg, var(--color5), var(--color4));
}

.viewTurmaInstituicao a:hover {
    cursor: pointer;
    background: linear-gradient(145deg, var(--color5Hover), var(--color4));
}

.viewTurmaInstituicao a i {
    background: none;
    color: var(--white);
    height: 20px;
    width: 20px;
    border-radius: 0;
    font-size: 1.5rem;
}

/*////////////////////////////////////////////////
                INSTITUIÇÕES STYLE
////////////////////////////////////////////////*/
.headerInstituicao {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.iconAndTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 12px;
    margin-bottom: 5px;
}

.iconAndTitle i {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color5);
}

.titleInstituicoes h1 {
    font-size: 2rem;
}

.titleInstituicoes p {
    font-size: 0.965rem;
    color: var(--color6);
}

.headerInstituicao button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    font-size: 0.970rem;
    font-weight: 500;
    color: var(--white);
    background: linear-gradient(145deg, var(--color5), var(--color4));
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow);
}

.headerInstituicao button:hover {
    background: linear-gradient(145deg, var(--color5Hover), var(--color4));
}