<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="dashboardBody">
    <div class="titleDashboard">
        <h1>Bem-vindo ao NotaDez</h1>
        <p>Sistema de gerenciamento de notas acadêmicas</p>
    </div>
    <div class="optionDashboard">
        <a href="#" class="itensOption" id="instituicoes">
            <div class="titleOptionDashboard">
                <h2>Instituições</h2>
                <p>0</p>
            </div>
            <div class="logoOptions">
                <i class="ph ph-buildings"></i>
            </div>
        </a>
        <a href="#" class="itensOption" id="diciplinas">
            <div class="titleOptionDashboard">
                <h2>Diciplinas</h2>
                <p>0</p>
            </div>
            <div class="logoOptions">
                <i class="ph ph-book-open"></i>
            </div>
        </a>
        <a href="#" class="itensOption" id="turmas">
            <div class="titleOptionDashboard">
                <h2>Turmas</h2>
                <p>0</p>
            </div>
            <div class="logoOptions">
                <i class="ph ph-users"></i>
            </div>
        </a>
        <a href="#" class="itensOption" id="alunos">
            <div class="titleOptionDashboard">
                <h2>Alunos Total</h2>
                <p>0</p>
            </div>
            <div class="logoOptions">
                <i class="ph ph-file-text"></i>
            </div>
        </a>
    </div>
    <div class="viewTurmaInstituicao">
        <div class="iconViewTurmaInstituicao">
            <i class="ph ph-buildings"></i>
        </div>
        <h3>Comece cadastrando uma instituição</h3>
        <p>Para começar a usar o NotaDez, primeiro cadastre a instituição onde você trabalha.</p>
        <a href="#">
            <i class="ph ph-buildings"></i>
            cadastrar instituição
        </a>
    </div>
</div>
</html>