<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="idtBody" id="diciplinasBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-book-open"></i>
                <h1>Disciplinas</h1>
            </div>
            <p>Gerencie as disciplinas que você leciona</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Nova disciplina
        </button>
    </div>
    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-book-open"></i>
        </div>
        <h3>Nenhuma disciplina cadastrada</h3>
        <p>Clique no botão "Nova Disciplina" para começar</p>
    </div>
</div>

</html>