<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="instituicoaBody">
    <div class="headerInstituicao">
        <div class="titleInstituicoes">
            <div class="iconAndTitle">
                <i class="ph ph-buildings"></i>
                <h1>Instituições</h1>
            </div>
            <p>Sistema de gerenciamento de notas acadêmicas</p>
        </div>
        <button class="newInstituicao">
            <i class="ph ph-plus"></i>
            Nova instituição
        </button>
    </div>
</div>

</html>