<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="idtBody" id="instituicoesBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-buildings" id="iconBuildings"></i>
                <h1>Instituições</h1>
            </div>
            <p>Gerencie as instituições onde você leciona</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Nova instituição
        </button>
    </div>
    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-buildings"></i>
        </div>
        <h3>Nenhuma instituição cadastrada</h3>
        <p>Clique no botão "Nova Instituição" para começar</p>
        <div class="createIdt">
            <div class="titleCreateIdt">
                <h2>Nova Instituição</h2>
                <button>
                    <i class="ph ph-x" id="xClosedCreate"></i>
                </button>
            </div>
            <div class="campIdt">
                <p>Nome da Instituição</p>
                <input type="text" placeholder="Ex: PUC-Campinas">
                <label for="text"></label>
            </div>
            <div class="campIdt">
                <p>Curso</p>
                <input type="text" placeholder="Ex: Engenharia de software">
                <label for="text"></label>
            </div>
            <div class="buttonsCheck">
                <button id="cancelBtnIdt">Cancelar</button>
                <button id="createBtnIdt">Criar</button>
            </div>
        </div>
    </div>
</div>

</html>