<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="idtBody" id="turmasBody">
    <div class="headerIdt">
        <div class="titleIdt">
            <div class="iconAndTitle">
                <i class="ph ph-users" id="iconUsers"></i>
                <h1>Turmas</h1>
            </div>
            <p>Gerencie as turmas das suas disciplinas</p>
        </div>
        <button class="newIdt">
            <i class="ph ph-plus"></i>
            Nova Turma
        </button>
    </div>
    <div class="cardIdt">
        <div class="iconIdt">
            <i class="ph ph-users"></i>
        </div>
        <h3>Nenhuma turma cadastrada</h3>
        <p>Clique no botão "Nova Turma" para começar</p>
    </div>
</div>

</html>